<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         verbose="true"
         colors="true"
         bootstrap="phpunit-bootstrap.php">

    <testsuites>
        <testsuite name="Notifly Tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
    </php>
</phpunit>

